.backkgroundmm {
  background-image: url("https://i.ibb.co/Wnx6Bmr/bg-main.gif");

  width: 120%;
  margin-left: -100px;
  height: 100vh;
  margin-top: -35px;
}



td, th{
  text-align: start;

}

td{
  padding: 20px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.399);
  display:  flex;
  /* align-items: center; */
}

tr{
  display: flex;
  
  /* text-align: start; */
  width: 100%;
}

